*.passwd

home-assistant/config/.cloud
home-assistant/config/.storage
home-assistant/config/*.db
home-assistant/config/*.db-*
home-assistant/config/*.json
home-assistant/config/*.log
home-assistant/config/*.log.*
home-assistant/config/secrets.yaml
home-assistant/config/ip_bans.yaml

mosquitto/data/
mosquitto/log/

swag/**/dns-conf
swag/**/keys
swag/**/fail2ban
swag/**/log
swag/**/etc
swag/**/php
swag/**/www
swag/**/.migrations
swag/**/.donoteditthisfile.conf
swag/**/crontabs
swag/**/nginx/*
!swag/**/nginx/homeassistant*
swag/**/*.sample

**/lets_encrypt

.env
